*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Serif', serif;
}
header{
    height: 120px;
    width: 100%;
}
nav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}
img.logo{
    height: 100px;
    width: 100px;
}
ul.main-nav{
    display: flex;
    list-style: none;
    width: auto;
}
li{
    width: 60px;

}